.todo {
  &_button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 3px;
    padding: 6px 50px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
  }
}
